<section class="todoapp">
    <header class="header">
        <h1><%= @list.name %></h1>
        <input class="new-todo" placeholder="Make a new list" autofocus="">
    </header>
    <section class="main">
        <ul class="todo-list">
            <li>
                <div class="view">	
                    <label>Milk</label>
                </div>
            </li>
             <li>
                <div class="view">	
                    <label>Cookies</label>
                </div>
            </li>
        </ul>
    </section>
    <footer class="footer">
    </footer>
</section>